<h3>Form002</h3>

<input type="text" name="txtname1" value="" />
@*
    <EditForm Model="">
        <InputText />
    </EditForm>

    //Este tipo de componente se complementa con un modelo ya definido.
*@

@code {

}
